<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADProject"
        tools:targetApi="31">
        <activity
            android:name=".IncomesEdit"
            android:exported="false" />
        <activity
            android:name=".IncomesCreate"
            android:exported="false" />
        <activity
            android:name=".IncomesView"
            android:exported="false" />
        <activity
            android:name=".BillReminder"
            android:exported="false"
            android:label="@string/title_activity_addbill_reminder"
            android:theme="@style/Theme.MADProject" />
        <activity
            android:name=".AddbillReminder"
            android:exported="false"
            android:label="@string/title_activity_addbill_reminder"
            android:theme="@style/Theme.MADProject" />
        <activity
            android:name=".UpdateBillReminder"
            android:exported="false"
            android:label="@string/title_activity_addbill_reminder"
            android:theme="@style/Theme.MADProject" />
        <activity
            android:name=".ViewbillReminder"
            android:exported="false"
            android:label="@string/title_activity_viewbill_reminder"
            android:theme="@style/Theme.MADProject" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>